@font-face {
    font-family: book;
    src: url('../fonts/bookmark.ttf');
}

@font-face {
    font-family: new;
    src: url('../fonts/newcomictitle.ttf');
}

h1, h2{
    margin: 0;
    padding: 0;
}

body{
    padding: 0px;
    margin: 0px;
    background-image: url(../Image/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: static;
    
}

p{
    padding: 0px;
    margin: 0px;
    margin-bottom: 10px;
}

form{color: #ffffff;}
/*Cabeçalho*/

header{
    width: 100%;
    height: 100px;
    background-color: #466300;
    position: fixed;
    z-index: 999;
}

.logo{
    width: 65px;
    height: 65px;
    margin-left: 30px;
    margin-top: 10px;
}

nav{
    margin-top: 10px;
    width: 1200px;
    height: 100%;
    float: left;
        
}

a{
    margin-left: 30px;
    font-family: verdana;
    color: aliceblue;
    text-decoration: none;
}


.login{
    width: 350px;
    height: 150px;
    float: right;
    margin-top: 10px;
    font-family: verdana;
}

/*Conteudo*/

.principal{
    width: 1000px;
    min-height: 100px;
    overflow: hidden;
    height: auto;
    background-color: aliceblue;
    margin-right: auto;
    margin-left: auto;
}

.alinhar{
    width: 100%;
    height: 100px;
    margin-bottom: 30px;
}



.banner{
    width: 980px;
    height: 380px;
    margin-left: auto;
    margin-right: auto;
    
}

.link{
    width: 200px;
    min-height: 722px;
    height: auto;
    background-color: #172100;
    float: right;
    margin-top: 10px;
}

.subLink{
    width: 100%;
    height: 30px;
    padding-top: 15px;
    font-family: verdana;
    text-align: center;
    border-radius: 100px;
    color: white;
    font-weight: bold;
    background-color: #304400;
    margin-top: 10px;
}

.conteudo{
    width: 760px;
    min-height: 100px;
    height: auto;
    background-color: #405410;
    float: right;
    margin-top: 10px;
    padding: 20px;
}

.conteudo2{
    width: 1000px;
    min-height: 100px;
    height: auto;
    float: left;
    background-color: #405410;
    margin-top: 10px;
    padding: 20px;
}

.livro{
    width: 230px;
    height: 330px;
    font-family: verdana;
    color: white;
    float: left;
    margin-left: 15px;
    margin-bottom: 5px;
    text-align: center;
    border: solid 3px white;
}

.livro2{
    width: 230px;
    height: 330px;
    font-family: verdana;
    color: white;
    float: left;
    margin-left: 65px;
    margin-bottom: 20px;
    text-align: center;
    border: solid 3px white;
}

table{
    width: 100%;
    height: 100%;
}

.rede_social{
    width: 100px;
    height: 300px;
    margin-left: 1010px;
    margin-top: 50px;
    position: absolute;
    z-index: 999;
}

.facebook{
    width: 100px;
    height: 100px;
    background-image: url(../Image/f.png);
    margin-bottom: 10px;
    overflow: hidden;
    z-index: 999;
}

.twitter{
    width: 100px;
    height: 100px;
    background-image: url(../Image/t.png);
    margin-bottom: 10px;
    z-index: 999;
}

.git{
    width: 100px;
    height: 100px;
    background-image: url(../Image/g.png);
    margin-bottom: 10px;
    z-index: 999;
}
/*Rodape*/

footer{
    width: 100%;
    height: 100px;
    background-color: #466300;
    color: white;
    font-family: verdana;
}



/*Banner do Jquery*/


.jssorl-009-spin img {
    animation-name: jssorl-009-spin;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
}

@keyframes jssorl-009-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

/*jssor slider bullet skin 053 css*/
.jssorb053 .i {cursor:pointer;}
.jssorb053 .i .b {fill:#fff;fill-opacity:0.5;}
.jssorb053 .i:hover .b {fill-opacity:.7;}
.jssorb053 .iav .b {fill-opacity: 1;}
.jssorb053 .i.idn {opacity:.3;}

/*jssor slider arrow skin 093 css*/
.jssora093 {display:block;position:absolute;cursor:pointer;}
.jssora093 .c {fill:none;stroke:#fff;stroke-width:400;stroke-miterlimit:10;}
.jssora093 .a {fill:none;stroke:#fff;stroke-width:400;stroke-miterlimit:10;}
.jssora093:hover {opacity:.8;}
.jssora093.jssora093dn {opacity:.6;}
.jssora093.jssora093ds {opacity:.3;pointer-events:none;}


/*--------------------------------------------------------------------------------------------------*/
/*Pagina Noticias*/



.noticia_principal{
    width: 960px;
    min-height: 960px;
    background-color: #405410;
    height: auto;
    overflow: hidden;
    margin-top: 10px;
    padding: 20px;
    font-family: Times New Roman;
    font-size: 25px;
    text-align: center;
}

.noticias1{
    width: 920px;
    height: 400px;
    margin-top: 20px;
    z-index: -1;
}

.noticias2{
    width: 850px;
    height: 400px;
    z-index: -1;
}

.titulo{
    background-color: rgba(71, 107, 53, 0.5);
    font-family: book;
    margin-left: auto;
    margin-right: auto;
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
    color: aliceblue;
    width: 70%;
}

.titulo2{
    background-color: rgba(0, 0, 0, 0.5);
    font-family: new;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    text-align: center;
    z-index: 999;
    overflow: visible;
    color: aliceblue;
    width: 70%;
    margin-top: 20px;
}
/*Sobre a banca*/


.texto{
    width: 100%;
    min-height: 960px;
    background-color: #F3F3F3;
    height: auto;
    overflow: hidden;
    margin-top: 10px;
}

.img1{
    width: 100%;
    height: 500px;
    background-image: url(../Image/25.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.img2{
    width: 100%;
    height: 500px;
    background-image: url(../Image/25.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.centro{
    width: 128px;
    height: 128px;
    margin-left: auto;
    margin-right: auto;
}

.cor{
    width: 300px;
    height: 300px;
    background-color: rgba(78, 114, 0, 0.7);
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    color: white;
    padding: 20px;
}

.icone{
    width: 128px;
    height: 128px;
}

/*Fale Conosco*/

.cor2{
    width: 500px;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    background-color: rgba(78, 114, 0, 0.7);
    font-size: 30px;
    margin-top: 20px;
    
}

.formulario td{
    width: 100%;
    height: 100%;
    margin-bottom: 40px;
    margin-bottom: 40px;
}

.imgFundo{
    width: 100%;
    height: 700px;
    padding-top: 100px;
    background-image: url(../Image/3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/*NOSSAS BANCAS*/

.banca{
    width: 600px;;
    height: 70px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 30px;
    padding-top: 30px;
    background-color: rgba(113, 165, 0, 0.7);
    font-size: 40px;
    margin-right: auto;
    margin-left: auto;
    font-family: Lucida Sans Unicode;
}

.imgFundo2{
    width: 100%;
    min-height: 930px;
    height: auto;
    padding-top: 20px;
    background-color: rgb(62, 91, 0);
/*
    background-image: url(../Image/);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
*/
}

/*PROMOÇÕES*/
.categoria{
    width: 100%;
    height: 35px;
    text-align: center;
    font-family: Lucida Sans Unicode;
    color: white;
    font-weight: bold;
    font-size: 25px;
}
/*CELEBRIDADE*/

.cor3{
    width: 100%;
    min-height: 900px;
    height: auto;
    background-color: rgb(75, 107, 0);
    padding: 40px;
}

.informacao{
    width: 910px;
    min-height: 900px;
    height: auto;
}

.inicio, .meio, .fim{
    width: 100%;
    height: 300px;
    margin-bottom: 10px;
    background-color: rgba(11, 102, 35, 0.5);
}

.resumo{
    width: 580px;
    height: 300px;
    color: white;
    font-family: arial;
    font-size: 30px;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
}

.image1{
    width: 300px;
    height: 300px;
    float: left;
    margin: 5px;
}

.foto{
    width: 200px;
    height: 290px;
}