body, h3{
    padding: 0px;
    margin: 0px;
}

.principal{
    width: 1000px;
    min-height: 100px;
    height: auto;
    background-color: skyblue;
    margin-left: auto;
    margin-right: auto;
    border-radius: 60px;
}

header, .cabecalho{
    width: 100%;
    height: 150px;
    background-color: #0f540a;
    color: white;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
}

h3{
    width: 700px;
    height: 100px;
    padding-top: 30px;
    margin-left: 50px;
    font-size: 50px;
    float: left;
}

.logo{
    width: 128px;
    height: 128px;
    float: left;
}

nav{
    width: 100%;
    height: 150px;
    background-color: yellowgreen;
}

.alinhar{
    width: 900px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: yellowgreen;
   
}

.link{
    width: 128px;
    height: 145px;
    float: left;
    margin-left: 10px;
    margin-top: 5px;
    font-family: verdana;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    border-radius: 10px;
}

.link:hover{
    background-color: #38a0d1;
    transition: 1s;
    border-radius: 10px;
}

.mensagem{
    width: 180px;
    height: 10px;
    text-align: right;
    float: right;
    margin-top: 20px;
    margin-right: 10px;
    font-family: verdana;
    font-weight: bold;
}

a{
    text-decoration: none;
    color: black;
}

.gerenciador{
    width: 1000px;
    min-height: 558px;
    height: auto;
    background-color: azure;
    padding: 30px;
    box-sizing: border-box;
    
}

.centro{
    width: 790px;
    height: 420px;
    margin-left: auto;
    margin-right: auto;
}

.conteudo{
    width: 384px;
    height: 128px;
    margin-bottom: 10px;
    margin-right: 10px;
    float: left;
    clear: right;
    background-color: mediumseagreen;
}

.fechar{
    width: 48px;
    height: 48px;
}

.imagem{
    width: 128px;
    height: 128px;
    float: left;
}

.imagem2{
    width: 256px;
    height: 275px;
    margin-left: 130px;
    margin-top: 130px;
    float: left;
    text-align: center;
    font-family: verdana;
    font-weight: bold;
}

.imagem2:hover{
    background-color: #38a0d1;
    transition: 1s;
}

.cadastroUser{
    width: 550px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}

.cadastroNivel{
    width: 500px;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
}

.titulo{
    width: 256px;
    height: 88px;
    float: left;
    color: #ffffff;
    text-align: center;
    font-family: verdana;
    padding-top: 40px;
    font-weight: bold;
    font-size: 20px;
}

.conteudo:hover{
    background-color: #38a0d1;
    transition: 1s; 
}


footer{
    width: 100%;
    height: 40px;
    color: aliceblue;
    text-align: center;
    background-color: #0f540a;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    padding-top: 10px;
}
/*FALE CONOSCO*/
table{
    width: 400px;
    height: 50px;
    border: solid 1px black;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-bottom: 30px;
}



/*CADASTRO NIVEL*/

.tabela{
    width: 100px;
    height: 10px;
    background-color: #004a6d;
    color: azure;
    font-family: verdana;
    margin-bottom: 30px;
}

.botao{
    width: 150px;
    height: 30px;
    background-color: springgreen;
    font-family: verdana;
    margin-top: 10px;
}

.banner{
    width: 200px;
    height: 100px;
}

.foto{
    width: 150px;
    height: 200px;
}

/*SOBRE A BANCA*/

.icone{
    width: 128px;
    height: 128px;
}